/* メインメニューCSS */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_navi {
	position: relative;
	overflow: hidden;
	width: 200px;
	height:300px;
}
.cp_navi #cp_sidenav a {
	font-size: 20px;
	position: absolute;
	left: -180px;
	width: 200px;
	height: 54px;
	padding: 12px 15px;
	transition: 0.3s;
	text-decoration: none;
	color: #ffffff;
	border-radius: 0 5px 5px 0;
}
.cp_navi #cp_sidenav a:hover {
	left: -10px;
}
.cp_navi #top {
	top: 20px;
	background-color: #da3c41;
}
.cp_navi #user {
	top: 80px;
	background-color: #1b2538;
}
.cp_navi #search {
	top: 140px;
	background-color: #2e9b72;
}
.cp_navi #roguout {
	top: 200px;
	background-color: #a62e7a;
}

/* 画面設計CSS */
body {
    font-family: メイリオ;
    background-color: azure
}
header {
    background: url(img/header-back.png) 0 0 no-repeat;
    background-size: cover;
    padding-top: 20%
}
footer {
    background-color: #36558F;
    clear: white;
    text-align: center;
}
 left {
            background-color: white;
            float: left;
            width:50%;
            height: 3000px;
            line-height: 1.5em;
            padding: 10px ;
            margin : 5px 0px 5px 10px
        
        }
 right; {
            background-color: white;
            float: right;
            width:50%;
            height: 3000px;
            line-height: 1.5em;
            padding: 10px ;
            margin : 5px 0px 5px 10px
        
        }

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
            animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

/* 検索ボタンCSS */
@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}    
a.cp_btn {
	display: block;
	width: 100px;
	padding: 0.1em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;
}
a.cp_btn:hover {
	background: #EC407A;
	color: #fff;
}

/* 検索メニューCSS */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.menu {
	display: block;
	overflow: hidden;
	width: 60px;
	height: 60px;
	margin: 30px auto;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
	border: 3px solid transparent;
	border-radius: 50%;
	background-color: #1b2538;
}
.menu div.menubar {
	width: 30px;
	margin: 17px auto;
}
.menu div.menubar .bar {
	display: block;
	width: 100%;
	height: 5px;
	margin-top: 3px;
	border-radius: 2px;
	background-color: #ffffff;
}
.menu ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	text-align: center;
	opacity: 0;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	display: inline-block;
	padding: 0.7em 0.5em;
	-webkit-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	text-decoration: none;
	color: #1b2538;
	border-bottom: 4px solid transparent;
	height: 56px;
	line-height: 2em;
}
.menu ul li a:hover {
	color: #ffffff;
	background-color: #1b2538;
}
.menu ul li a:target {
	border-bottom-color: #1b2538;
}
/* クリックした時の動き */
#cp_navimenuid {
	display: none;
}
#cp_navimenuid:checked ~ .menu {
	width: 100%;
	height: 60px;
	border: 3px solid #1b2538;
	border-radius: 5px;
	background-color: transparent;
}
#cp_navimenuid:checked ~ .menu > ul {
	display: block;
	opacity: 1;
}
#cp_navimenuid:checked ~ .menu > .menubar {
	display: none;
}

/* リスト */
ul.cp_list {
	position: relative;
	padding: 0;
	list-style-type: none;
}
ul.cp_list li {
	padding: 0.5em 0.5em 0.6em 0.5em;
	margin-bottom: 5px;
	line-height: 1.5;
	vertical-align: middle;
	background: #36558F;
	border-radius: 20px 0px 0px 20px;
	color: #ffffff;
}
ul.cp_list li::before {
	display:inline-block;
	vertical-align: middle;
	content:'';
	margin-right: 8px;
	width:1em;
	height: 1em;
	background: #fff;
	border-radius: 50%;
}
/* 上級会員用リスト */
ul.cp_listneo {
	position: relative;
	padding: 0;
	list-style-type: none;
}
ul.cp_listneo li {
	padding: 0.5em 0.5em 0.6em 0.5em;
	margin-bottom: 5px;
	line-height: 1.5;
	vertical-align: middle;
	background: #36858F;
	border-radius: 20px 0px 0px 20px;
	color: #ffffff;
}
ul.cp_listneo li::before {
	display:inline-block;
	vertical-align: middle;
	content:'';
	margin-right: 8px;
	width:1em;
	height: 1em;
	background: #fff;
	border-radius: 50%;
}