*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_navi {
	position: relative;
	overflow: hidden;
	width: 200px;
	height:300px;
}
.cp_navi #cp_sidenav a {
	font-size: 20px;
	position: absolute;
	left: -180px;
	width: 200px;
	height: 54px;
	padding: 12px 15px;
	transition: 0.3s;
	text-decoration: none;
	color: #ffffff;
	border-radius: 0 5px 5px 0;
}
.cp_navi #cp_sidenav a:hover {
	left: -10px;
}
.cp_navi #top {
	top: 20px;
	background-color: #da3c41;
}
.cp_navi #user {
	top: 80px;
	background-color: #1b2538;
}
.cp_navi #search {
	top: 140px;
	background-color: #2e9b72;
}
.cp_navi #roguout {
	top: 200px;
	background-color: #a62e7a;
}
body {
    font-family: メイリオ;
    background-color: azure
}
header {
    background: url(img/header-back.png) 0 0 no-repeat;
    background-size: cover;
    padding-top: 20%
}
footer {
    background-color: #36558F;
    clear: white;
    text-align: center;
}
 left {
            background-color: white;
            float: left;
            width:50%;
            height: 3000px;
            line-height: 1.5em;
            padding: 10px ;
            margin : 5px 0px 5px 10px
        
        }
 right; {
            background-color: white;
            float: right;
            width:50%;
            height: 3000px;
            line-height: 1.5em;
            padding: 10px ;
            margin : 5px 0px 5px 10px
        
        }

html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
            animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}    
